.calculator {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  #display {
    width: 90%;
    border: 10px bold;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
  }
  
  .buttons button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
  }
  
  